
<header class="header">
    <a href="" class="logo">Pink Zombies</a>

    <nav class="navbar">

        <a href="#">Home</a>
        <a href="auth">Auth Required</a>
        <a href="admindashboard">Admin Page</a>

       <AuthorizeView>
           <Authorized>
                <a href="Account/Manage">@context.User.Identity?.Name</a>
           </Authorized>
           <NotAuthorized>
                <a href="Account/Register">Register</a>
                <a href="Account/Login">Login</a>
                <a href="#">Contact us</a>
           </NotAuthorized>
       </AuthorizeView>
       
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
    </nav>

</header>

@code {



}
