@* @page "/Category"

<PageTitle>Category</PageTitle>
<h3>Category</h3>
 *@

<button class="btn btn-primary" type="submit" Size="Size.Small">@Title </button>

@code {
    [Parameter]
    public string? Title { get; set; }
}
