@page "/category/{int:categoryId}"
@using ValhallaVault.Models
@inject ValhallaVault.Managers.GenericManager<CategoryModel> genericManager
@inject ValhallaVault.Managers.SegmentManager segmentManager

<PageTitle>Category page</PageTitle>

@if (chosenCategory!=null)
{
    <h1>@chosenCategory.CategoryName</h1>
  
}


@code {

    public CategoryModel? chosenCategory { get; set; }


    [Parameter]
    public int categoryId { get; set; } 


    protected override async Task OnInitializedAsync()
    {
        var category = await genericManager.GetByIdAsync(categoryId);
        if (category !=null)
        {
            category = chosenCategory;


        }
    }

}
