@page "/category/{int:categoryId}"
@using ValhallaVault.Models
@inject ValhallaVault.Managers.GenericManager<CategoryModel> genericManager
@inject ValhallaVault.Managers.SegmentManager segmentManager

<PageTitle>Category page</PageTitle>

@if (chosenCategory!=null)
{
    <h1>@chosenCategory.CategoryName</h1>
  
}

@if (CategorySegments!=null)
{
    @foreach (var segment in @CategorySegments)
    {
        <h2>@segment.SegmentName</h2>
    }
}

@code {

    public CategoryModel? chosenCategory { get; set; }

    public List <SegmentModel>? CategorySegments { get; set; }

    [Parameter]
    public int categoryId { get; set; } 


    protected override async Task OnInitializedAsync()
    {
        var category = await genericManager.GetByIdAsync(categoryId);
        if (category !=null)
        {
            category = chosenCategory;

            var allCategorySegments = await segmentManager.GetSegmentsByCategoryIdAsync(categoryId);
            if (allCategorySegments !=null)
            {
                allCategorySegments = CategorySegments;
            }

        }
    }

}
