@page "/Category/{Iid}" 
<PageTitle>Category page</PageTitle>
<h3>CategoryPage</h3>


<div >
    <labe>About:</labe>
    <br />
     Add description for category
</div>

<div class="subCatOptions">
  <ul>

  </ul>
</div>



@code {


}
