@page "/"

<PageTitle>Welcome Page</PageTitle>
 
<div class="card text-white bg-dark" style="width: 100%; margin: auto; height: 100%;">
	<img src="/Images/ValhallaVaultV2.png" class="card-img" alt="Background Image" style="object-fit: cover; height: 80vh;">
	<div class="card-img-overlay d-flex flex-column justify-content-end align-items-center">
		<div style="background-color: rgba(0, 0, 0, 0.5); padding: 15px; margin-block-end: 12%;">
			<a href="/account/login" class="btn btn-primary m-2">Log In</a>
			<a href="/account/register" class="btn btn-light m-2">Register</a>
		</div>
	</div>
	<p class="text-center text-white mt-4">
		Welcome to ValhallaVault Cyber Security, your trusted source for empowering knowledge and insights in the ever-evolving world of cybersecurity. Our website is a comprehensive hub dedicated to educating individuals and businesses about the importance of online safety and equipping them with the tools to navigate the digital landscape securely. Explore our curated resources, insightful articles, and interactive guides designed to demystify cybersecurity concepts, from threat detection to data encryption. We believe that knowledge is the key to resilience, and our commitment is to empower you with the expertise needed to guard against cyber threats effectively.
	</p>
</div>
