@page "/segment/{int:segmentId}"
@inject ValhallaVault.Managers.SubcategoryManager subcategoryManager
@using ValhallaVault.Models
@inject ValhallaVault.Managers.GenericManager<SegmentModel> genericManager

<h3>Segment</h3>


@if (chosenSegment!=null)
{
<h1>@chosenSegment.SegmentName</h1>

}

@if (segmentSubcategory != null)
{
    @foreach (var subcategory in @segmentSubcategory)
    {
        <h2>@subcategory</h2>
    }
}<!--farre-->

@code {

    public SegmentModel? chosenSegment { get; set; }

    public List<SubcategoryModel>? segmentSubcategory { get; set; }

    [Parameter]
    public int segmentId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var segment = await genericManager.GetByIdAsync(segmentId);
        if (segment != null)
        {
            segment = chosenSegment;

            var allSubcategories = await subcategoryManager.GetSubcategoriesByCategoryIdAsync(segmentId);
            if (allSubcategories != null)
            {
                allSubcategories = segmentSubcategory;
            }

        }
    }


}
