
@page "/segment/{id:segmentId}" 
@using Microsoft.EntityFrameworkCore
@using ValhallaVault.Models
@inject ValhallaVault.Managers.SubcategoryManager subcategorymanager
@inject NavigationManager Navigation 

<h3>Subkategorier</h3>

@if (Subcategories != null && Subcategories.Any())
{
    @foreach (var subcategory in Subcategories) 
    {
        <div>
            <h4>Subcategory name: @subcategory.SubCategoryName</h4> 
            <p>Number of questions: @subcategory.Questions.Count</p>
            <a href="@($"QuestionPage/{subcategory.Id}")">Start questions for this subcategory</a>
        </div>
    }
}


else
{
    <p>No subcategories found.</p> 
}

<a href="/segments">Back to segment</a> 


@code {
    [Parameter]
    public int SegmentId { get; set; } 

    private List<SubcategoryModel>? Subcategories { get; set; } 

    protected override async Task OnInitializedAsync()
    {
   
        var subcategories = await subcategorymanager.GetSubcategoriesBySegmentIdAsync(SegmentId);

        if (subcategories!=null) 
        {
            subcategories = Subcategories;
        }
    }
}